$blue: rgb(84, 186, 253);
$green: rgb(91, 197, 91);
$yellow: rgb(243, 243, 111);
$orange: rgb(247, 194, 96);
$red: rgb(247, 117, 117);
$purple: rgb(199, 114, 248);
$violet: rgb(123, 114, 248);

$dark-gray: rgb(65, 65, 65);